/*.navigation {
	 padding: 4px 4px 4px 4px;
	 background-color: @navigationBackground;
	 color:@navigationTextColor;
	 span {
		  color:@navigationTextColor;
	 }
}*/
.widgetContainer h3 {
  font-size: 2.0rem;
}
/* Logo */
.header h1.logo {
  margin: 7px 0 0 0;
  float: left;
}
.header h1.logo a {
  width: 228px;
  height: 41px;
  display: block;
  background: url("../images/logo.svg") no-repeat 0 0;
  background-size: 228px 41px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.no-svg .header h1.logo a {
  background-image: url("../images/logo.png");
}
/*Footer on bottom */
html,
body {
  height: 100%;
}
form {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.page {
  min-height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  transition: margin-left 500ms ease;
}
.content {
  min-height: 100%;
  height: 100%;
}
.footer {
  background-color: #343434;
  color: #fcfcfc;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}
/*Side menu*/
.side-menu {
  position: absolute;
  width: 0;
  z-index: 10;
  min-height: 100vh;
  height: 100%;
  background-color: #343434;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: width 500ms ease;
}
.show-menu .side-menu {
  width: 270px;
}
.show-menu .page {
  margin-left: 280px;
  padding-left: 5px;
  padding-right: -280px;
  overflow: hidden;
}
.navigation {
  padding: 4px 4px 4px 4px;
  background-color: #343434;
  color: #fcfcfc;
}
.navigation span {
  color: #fcfcfc;
}
.navigation .normal p {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 13px;
  line-height: 12px;
}
.navigation .compact {
  display: none!important;
}
.navigation .compact .compact-menu-container {
  float: left;
}
.navigation .compact .compact-menu-container .compact-menu,
.navigation .compact .compact-menu-container .compact-menu:hover {
  text-decoration: none;
  border: none;
  background: #343434;
  color: #fcfcfc !important;
  font-size: 12px;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
@media (max-width: 749px) {
  .navigation .normal {
    display: none!important;
  }
  .navigation .compact {
    display: inline!important;
  }
  .header .logo {
    float: right;
  }
  .header .logo h1.logo a {
    width: 159px;
    height: 28px;
    background-size: 159px 28px;
  }
}
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
@media (min-width: 750px) {
  .navigation .normal {
    display: inline!important;
  }
  .navigation .compact {
    display: none!important;
  }
  .page {
    padding-bottom: 0;
  }
  .footer {
    display: none;
  }
  /*.navigation {
		  display:none;
	 }*/
  .no-mobile {
    display: none!important;
  }
}
/* Larger than desktop */
/* Larger than Desktop HD */
/*# sourceMappingURL=custom.css.map */