@import "mixins.less";

@navigationTextColor:#fcfcfc;
@navigationBackground: #343434;
@footerHeight: 50px;
@footerTextColor: #fcfcfc;
@footerBackground: #808080;

@hamburgerWidth: 270px;
@hamburgerTextColor: #fcfcfc;
@hamburgerBackground: #343434;
@hamburgerHomeSeparator: solid 1px @hamburgerTextColor;
@hamburgerTextColorHover: #343434;
@hamburgerBackgroundHover: #fcfcfc;

@logoMain: "../images/logo.svg";
@logoFallback: "../images/logo.png";
@logoWidth: 228;
@logoHeight: 41;

.widgetContainer{
	 h3 {
		  font-size: 2.0rem;
	 }
}

/* Logo */


.header{
	  h1.logo {
				margin: 7px 0 0 0;
				float: left;

				a {
					 width: unit(@logoWidth, px);
					 height: unit(@logoHeight, px);
					 display: block;
					 background: url(@logoMain) no-repeat 0 0;
					 background-size: unit(@logoWidth, px) unit(@logoHeight, px);
					 font: 0/0 a;
					 text-shadow: none;
					 color: transparent;
				}
		  }
 }
.no-svg {
    .header h1.logo a {
        background-image: url(@logoFallback);
    }
}

.navigation {
	 padding: 4px 4px 4px 4px;
	 background-color: @navigationBackground;
	 color:@navigationTextColor;
	 span {
		  color:@navigationTextColor;
	 }
	 // ==== part 2

	 .normal {
		  p {
				font-size:11px;
				margin-top:5px;
				/*margin-bottom: 13px;
				line-height: 12px;*/
		  }
	 }

	 .compact {		  
		  display:none!important;
		  .compact-menu-container{
				float:left; 				
				.compact-menu,
				.compact-menu:hover
				{
					 text-decoration: none;
					 border: none;
					 background: @navigationBackground;
					 color: #fcfcfc !important;
					 font-size: 12px;
				}
		  }
	 }
}

/*Sticky Footer on bottom */

html, body {
    height: 100%;
}
form {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.page{
    min-height: 100%;
    padding-bottom: @footerHeight;
}

.footer {
	 background-color:@footerBackground;
	 color:@footerTextColor;
    height: @footerHeight;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*Side menu*/

.side-menu {
	 position: absolute;
	 width: 0;
	 z-index:1000;
	 min-height: 100vh;
	 height: 100%;	 
	 background-color: @hamburgerBackground;
	 overflow:hidden;
    top: 0;
    left: 0;	 
	 .transition(width 500ms ease);
	 .border-radiuses(8px, 8px, 0, 0);

	 .side-menu-inner {
		  color: @hamburgerTextColor;	
	 
		  .back-container{
				width: 100%; 
				padding: 5px 5px 0 5px;
				border-bottom: @hamburgerHomeSeparator;		  		  
				cursor: pointer;
				&:hover {
					 color: @hamburgerTextColorHover;
					 background-color: @hamburgerBackgroundHover;
					 cursor: pointer;
				}
		  }
	 }
}

.show-left-hamburger-menu {
	 .side-menu {
		  width: @hamburgerWidth;
	 }
	 .navigation {
		  .compact {			
				.compact-menu-container{
					 .transition(margin-left 500ms ease);					 
					 margin-left: unit(floor(@hamburgerWidth/100*89), px); 			
				}
		  }
	 }
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scaleLogo(@scaleFactor) {
    @scaledLogoWidth: unit(floor(@logoWidth*@scaleFactor), px);
    @scaledLogoHeight: unit(floor(@logoHeight*@scaleFactor), px);
}

/* Larger than phablet (also point when grid becomes active) */
@media only screen (min-width: 550px) {
}

/* Larger than mobile */
@media (max-width: 549px) {
	 
		  .navigation {
				.normal { display:none!important; }
				.compact { display:inline!important; }
		  
		  }
		  .header{
				.logo{
					 float:right;
		  
					 h1.logo a {
						  .scaleLogo(0.7);
						  width: @scaledLogoWidth;
						  height: @scaledLogoHeight;
						  background-size: @scaledLogoWidth @scaledLogoHeight;
				
					 }
				}
		  }
	 
}

/* Larger than tablet */
@media (min-width: 550px) {
	 
		  .navigation {
				.normal { display:inline!important; }
				.compact { display:none!important; }
		  }
		  /*.content{
				padding-bottom: 0;
		  }
		  .footer{
				display: inline;
		  }*/
		  .no-mobile {
				display: none!important;
		  }
	 
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


